a.link {
  text-decoration: none;
}

a:link {
  color: limegreen;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgba(100, 100, 100, 0.2);
  border-color: rgb(165, 165, 165);
  border-radius: 12px;
  font-size: 14px;
}

div {
  height: 500px;
  width: auto;
}

ul.links{
  list-style: none;
}

li {
  text-align: left;
}