body {
  background-image: linear-gradient(grey, black);
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgba(100, 100, 100, 0.2);
  border-color: rgb(165, 165, 165);
  border-radius: .5em .5em 0 0;
  color: antiquewhite;
  font-size: 90%;
  padding: 0px 5px;
}

button:hover {
  text-decoration: underline;
}

div {
  height: 500px;
  width: auto;
}

ul.links{
  list-style: none;
}

li {
  text-align: left;
}

.link {
  display: inline-block;
}