a.link {
  text-decoration: none;
}

a:link {
  color: limegreen;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

div {
  height: 500px;
  width: auto;
}

li {
  text-align: left;
}