body {
  background: linear-gradient(#ed5f55, #5583ed);
  color: white;
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img,
.img {
  height: 40vh;
  width: auto
}

img {
  background: black;
  border: .25em solid black;
  padding: 0;
}

a {
  color: white;
}

  p,
  ol,
  ul,
  h3 {
    background: rgba(255,255,255,.25);
    border: .2em solid black;
  }

  p,
  ol,
  ul {
    text-align: left;
  }

  p,
  ul {
    padding: 1rem;
  }

  ol {
    padding: 1rem auto;
  }

  ul {
    list-style: none;
  }

  h3 {
    border-bottom: transparent;
    margin-bottom: 0;
  }

  .ml {
    margin-top: 0;
  }

  .text {
    height: 50vh;
    width: auto;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
    list-style: none;
    align-items: flex-end;
    gap: .5ch;
  }

  button {
    background: #ff8;
    border: 1px solid black;
    border-radius: 0 .5em;
    height: 2.25rem;
    width: auto;
  }